In [104]:
# Dependencies
import requests
import json
import pandas as pd

# Google developer API key
from config import geoKey

#Pull in city codes data
city_address = pd.read_csv('../Input/city_codes.csv',sep=',')
city_address.head()

         Region State         Metro        County  Code
0      New York    NY      New York        Queens     1
1   Los Angeles    CA   Los Angeles   Los Angeles     2
2       Chicago    IL       Chicago          Cook     3
3  Philadelphia    PA  Philadelphia  Philadelphia     4
4       Phoenix    AZ       Phoenix      Maricopa     5

In [115]:
cities = city_address[['State', 'Region']]
cities.head(19)

   State         Region
0     NY       New York
1     CA    Los Angeles
2     IL        Chicago
3     PA   Philadelphia
4     AZ        Phoenix
5     NV      Las Vegas
6     CA      San Diego
7     CA       San Jose
8     FL   Jacksonville
9     CA  San Francisco
10    OH       Columbus
11    MI        Detroit
12    NC      Charlotte
13    TN        Memphis
14    MD      Baltimore
15    MA         Boston
16    WA        Seattle
17    DC     Washington
18    CO         Denver

In [94]:
wealthy_city=['Charlotte',
'Baltimore',
'Riverside',
'Chicago',
'Dallas',
'Providence',
'Phoenix',
'Nashville',
'Houston',
'Sacramento',
'Portland',
'Austin',
'Denver',
'Miami',
'Washington',
'Boston',
'Seattle',
'San Diego',
'New York',
'Los Angeles',            
'San Francisco',           
'San Jose']

In [116]:
final=[]
for i in range(len(cities)):
    target=cities.iloc[i,:]
    table_final={}
    table_final['Region']=target['Region']
    table_final['State']=target['State']
    if table_final['Region'] in wealthy_city:
        final.append(table_final)
final = pd.DataFrame(final)
final.head(19)

           Region State
0        New York    NY
1     Los Angeles    CA
2         Chicago    IL
3         Phoenix    AZ
4       San Diego    CA
5        San Jose    CA
6   San Francisco    CA
7       Charlotte    NC
8       Baltimore    MD
9          Boston    MA
10        Seattle    WA
11     Washington    DC
12         Denver    CO
13      Nashville    TN
14       Portland    OR
15     Sacramento    CA
16          Miami    FL
17      Riverside    CA
18     Providence    RI

In [96]:
#regions=pd.DataFrame(final)#regions 
list_Region=final_cities['Region']
list_Region

0          New York
1       Los Angeles
2           Chicago
3           Phoenix
4         San Diego
5          San Jose
6     San Francisco
7         Charlotte
8         Baltimore
9            Boston
10          Seattle
11       Washington
12           Denver
13        Nashville
14         Portland
15       Sacramento
16            Miami
17        Riverside
18       Providence
Name: Region, dtype: object

In [83]:
# Run a request to endpoint for geocoordinates and convert result to json 
target=[]
for i in range(len(list_Region)):
    
    target_city=list_Region[i]
    target_url = "https://maps.googleapis.com/maps/api/geocode/json?" \
     "address=%s&key=%s" % (target_city, geoKey)
    geo_data = requests.get(target_url).json()
    #print(geo_data)
    R1=geo_data["results"][0]
    #print(R1)
    for a in range(len(R1)):
        R2=R1["geometry"]
        print(R2['location']['lat'])
        for j in R2:
            city={}
            city['lat']=R2["location"]["lat"]
            city['lng']=R2["location"]["lng"]
            city['northeast_Lat']=R2["bounds"]["northeast"]["lat"]
            city['northeast_Lng']=R2["bounds"]["northeast"]["lng"]
            city['southwest_Lat']=R2["bounds"]["southwest"]["lat"]
            city['southwest_Lng']=R2["bounds"]["southwest"]["lng"]
            city['address']=target_city
    target.append(city)

40.7127753
40.7127753
40.7127753
40.7127753
40.7127753
34.0522342
34.0522342
34.0522342
34.0522342
34.0522342
41.8781136
41.8781136
41.8781136
41.8781136
41.8781136
33.4483771
33.4483771
33.4483771
33.4483771
33.4483771
32.715738
32.715738
32.715738
32.715738
32.715738
37.3382082
37.3382082
37.3382082
37.3382082
37.3382082
37.7749295
37.7749295
37.7749295
37.7749295
37.7749295
35.2270869
35.2270869
35.2270869
35.2270869
35.2270869
39.2903848
39.2903848
39.2903848
39.2903848
39.2903848
42.3600825
42.3600825
42.3600825
42.3600825
42.3600825
47.6062095
47.6062095
47.6062095
47.6062095
47.6062095
38.9071923
38.9071923
38.9071923
38.9071923
38.9071923
39.7392358
39.7392358
39.7392358
39.7392358
39.7392358
36.1626638
36.1626638
36.1626638
36.1626638
36.1626638
45.5122308
45.5122308
45.5122308
45.5122308
45.5122308
38.5815719
38.5815719
38.5815719
38.5815719
38.5815719
25.7616798
25.7616798
25.7616798
25.7616798
25.7616798
33.9806005
33.9806005
33.9806005
33.9806005
33.9806005
41.8239891
41.8239891
41.8239891
41.8239891
41.8239891

In [85]:
address_coordinate = pd.DataFrame(target)
address_coordinate

,address,lat,lng,northeast_Lat,northeast_Lng,southwest_Lat,southwest_Lng
0,New York,40.712775,-74.005973,40.917577,-73.700272,40.477399,-74.259090
1,Los Angeles,34.052234,-118.243685,34.337306,-118.155289,33.703652,-118.668176
2,Chicago,41.878114,-87.629798,42.023131,-87.523661,41.644335,-87.940267
3,Phoenix,33.448377,-112.074037,33.920570,-111.926046,33.290260,-112.324056
4,San Diego,32.715738,-117.161084,33.114249,-116.908160,32.534856,-117.309797
5,San Jose,37.338208,-121.886329,37.469538,-121.589154,37.124493,-122.045672
6,San Francisco,37.774929,-122.419415,37.929824,-122.281780,37.639830,-123.173825
7,Charlotte,35.227087,-80.843127,35.393133,-80.670104,35.013174,-81.009554
8,Baltimore,39.290385,-76.612189,39.372206,-76.529453,39.197207,-76.711519
9,Boston,42.360082,-71.058880,42.400820,-70.749455,42.227880,-71.191113
10,Seattle,47.606209,-122.332071,47.734145,-122.224433,47.491912,-122.459696
11,Washington,38.907192,-77.036871,38.995548,-76.909393,38.791645,-77.119759
12,Denver,39.739236,-104.990251,39.914247,-104.600296,39.614431,-105.109927
13,Nashville,36.162664,-86.781602,36.405496,-86.515588,35.967785,-87.054903
14,Portland,45.512231,-122.658719,45.652880,-122.472024,45.432536,-122.836749
15,Sacramento,38.581572,-121.494400,38.685507,-121.325705,38.437574,-121.560120
16,Miami,25.761680,-80.191790,25.855773,-80.139157,25.709042,-80.319760
17,Riverside,33.980601,-117.375494,34.019514,-117.275174,33.872517,-117.523882
18,Providence,41.823989,-71.412834,41.861571,-71.369694,41.772414,-71.472667

In [86]:
#address_coordinate#address 
address_coordinate.to_csv('../Input/_cities_Lat_lng_codes_data.csv',sep=',', index=None)